
.login {    
    display: flex;
    background: url(../../resource/loginBgv.png);
    min-height: 100vh;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    line-height: 46px;
    color: white;  
}

.title {
    margin-bottom: 50px;
}

.buttonBox {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help .text {
    color: white
}


.help .dot {
    color: red
}