.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #1890FF;
    border-radius: 4px;
    width: 502px;
    height: 352px;
    padding: 25px 32px 25px 32px;    
}


.progressOver {
    border: 1px solid #1890FF;
    border-radius: 4px;
    padding: 1px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 439px;
    height: 40px;
    opacity: 0.55;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 24px;
}

.button:hover {
    opacity: 0.65;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.button:active {
    opacity: 1;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;   
    margin-bottom: 14px;    
}

.titleBox .dateTitle {
    opacity: 0.45;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    line-height: 22px;
}

.titleBox .resultTitle {
    opacity: 0.65;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    text-align: right;
    line-height: 22px;
}

.recordList {
    margin-top: 14px;
    border-radius: 4px;
    overflow: auto;    
    height: 300px;
    width: 439px;    
  }