.header {
    position: 'fixed';
    z-index: 1;
    width: '100%';
    display: flex;
    justify-content: space-around;
}

.menu {
    line-height: 64px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

.logoTitle {
    color: #FFFFFF;
    margin-left: 13px;
    font-size: 15px;
}

.navlinksBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.navLinkNormal {
    flex: 1;
    opacity: 0.65;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

.navLinkNormal:hover {
    color: #fff;
    opacity: 0.85;
}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

.settingIcon {
    color: #fff;
    font-size: 16px;
    padding: 5px;
}

.settingIcon:active {
    opacity: 0.65;
}

.userInfo {
    padding-left: 5px;
    border: 0px solid rgba(0, 0, 0, 0);
}

.userInfo:active {
    opacity: 0.65;
}

.userInfoPopoverContent {
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 0px;
}

.avatar {
    background-color: #87d068
}

.userName {
    margin-left: 8px;
    opacity: 0.65;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

.contentBox {
    padding: '0 50px';
    margin-top: 24px;
}

.content {
    min-height: 100%;
    background-color: '#fff';
    padding: 24px;
}